{{ form_start(form) }}

<div class="mb-3">
	{{form_label(form.name)}}
	{{form_widget(form.name)}}
	{{form_errors(form.name)}}
</div>

<div class="mb-3">
	{{form_label(form.groupe)}}
	{{form_widget(form.groupe)}}
	{{form_errors(form.groupe)}}
</div>

<div class="mb-3">
	{{form_label(form.description)}}
	{{form_widget(form.description)}}
	{{form_errors(form.description)}}
</div>

<div class="mb-3">
	{% set i = 0 %}
	{% for video in form.videos.children %}
		<div>
			{{form_label(video,"Modifier la vidéo")}}
			<div style="position: relative;">
                {{ trick.getVideos()[i].iframe | raw}}
                <a href="" class="delete-video">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="red" class="bi bi-x-square-fill" viewbox="0 0 16 16" style="position: absolute; bottom: 2%; right: 0%;">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                    </svg>
                </a>
            </div>
			{{form_widget(video)}}
			{{form_help(video)}}
		</div>
		{% set i = i + 1 %}
	{% endfor %}
	{{form_errors(form.videos)}}
</div>

<div class="mb-3" id="trick_videos" data-prototype="<fieldset class=&quot;mb-3&quot;><legend class=&quot;col-form-label required&quot;>__name__label__</legend><div id=&quot;trick_videos___name__&quot;><div class=&quot;mb-3&quot;><textarea id=&quot;trick_videos___name___iframe&quot; name=&quot;trick[videos][__name__][iframe]&quot; required=&quot;required&quot; aria-describedby=&quot;trick_videos___name___iframe_help&quot; class=&quot;form-control&quot;></textarea> <p id=&quot;trick_videos___name___iframe_help&quot; class=&quot;form-text mb-0 help-text&quot;>Copiez la balise iframe pour intégrer la vidéo</p></div></div> </fieldset>"></div>

<div class="mb-3">
	{% set i = 0 %}
	{% for image in form.images.children %}
		<div>
            {{form_label(image,"Modifier l'image")}}
            <div style="position: relative;">
                <img src="/{{ trick.getImages()[i].getWebPath }}" width="100%" alt="">
                <a href="" class="delete-image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="red" class="bi bi-x-square-fill" viewbox="0 0 16 16" style="position: absolute; bottom: 0%; right: 0%;">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                    </svg>
                </a>
            </div>
            {{form_widget(image.file, {required : false})}}
        </div>
		{% set i = i + 1 %}
	{% endfor %}
	{{form_errors(form.images)}}
</div>

<div class="mb-3" id="trick_images" data-prototype="<fieldset class=&quot;mb-3&quot;><legend class=&quot;col-form-label required&quot;>__name__label__</legend><div id=&quot;trick_images___name__&quot;><div class=&quot;mb-3&quot;><input type=&quot;file&quot; id=&quot;trick_images___name___file&quot; name=&quot;trick[images][__name__][file]&quot; required=&quot;required&quot; class=&quot;form-control&quot; /> </div></div> </fieldset>"></div>

<button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
<a class="btn btn-secondary" href="{{ path('trick_index') }}">Retour</a>
{{ form_end(form) }}
