{% extends 'base.html.twig' %}

{% block title %}
	{{trick.name}}
{% endblock %}

{% block body %}
	<div>
		<div class="image-une mb-5">
			{% if trick.getImages().isEmpty() %}
				<img src="/assets/trick.jpg" alt="trick">
			{% else %}
				<img src="{{trick.images[0].getWebPath}}" alt="{{trick.images[0].alt}}">
			{% endif %}

			{% set canEdit = is_granted("author_edit", trick) %}
			{% set canDelete = is_granted("author_delete", trick) %}

			{% if canEdit or canDelete %}
				<div class="edit-supp">
					{% if canEdit %}
						<a href="{{ path('trick_edit', {'id': trick.id}) }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
								<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
							</svg>
						</a>
					{% endif %}

					{% if canDelete %}
						<form id="form-delete" method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette figure ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
							<a href='javascript:void(0)' onclick="if (document.getElementById('form-delete').onsubmit()) {
																																																																																																																    document.getElementById('form-delete').submit();
																																																																																																																}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
									<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
								</svg>
							</a>
						</form>
					{% endif %}
				</div>
			{% endif %}

			<div class="trick-name">
				<h2>{{trick.name}}</h2>
			</div>
			<div class="close">
				<a href="{{ path('trick_index') }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x-square-fill" viewbox="0 0 16 16">
						<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
					</svg>
				</a>
			</div>
		</div>
		<div class="container-sm">
			{% if not trick.images.isEmpty() or not trick.videos.isEmpty() %}
				<div class="images_videos mb-5">
					<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-3">
						{% for image in trick.images %}
							<div class="col">
								<div class="card h-100">
									<img src="{{image.getWebPath}}" class="card-img-top" alt="...">
								</div>
							</div>
						{% endfor %}
						{% for video in trick.videos %}
							<div class="col">
								<div class="card h-100" style="position: relative; padding-bottom: 56.25%;">
									{{video.iframe | raw}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			<div class="description mb-5">
				{{trick.description | raw}}
			</div>
			<div class="bloc-infos-laisscom pb-4">
				<div class="infos mb-4">
					<div id="pp">
						<span class="fw-bolder">Groupe :
						</span>
						{{trick.groupe.name}}</div>
					<div>
						<span class="fw-bolder">Date de création :</span>
						{{trick.creationDate|format_datetime(locale='fr')}}</div>
					{% if trick.updateDate %}
						<div>
							<span class="fw-bolder">Date de mise à jour :</span>
							{{trick.updateDate|format_datetime(locale='fr')}}</div>
					{% endif %}
					{% if trick.author %}
						<div>
							<span class="fw-bolder">Auteur :</span>
							{{trick.author.name}}
						</div>
					{% endif %}
				</div>

				<div class="laisser_commentaire mb-4">
					{{form_errors(form.content)}}
					{{form_start(form)}}
					{{form_widget(form.content)}}
					{{form_rest(form)}}
					<button type="submit" class="btn btn-light">Laisser un commentaire</button>
					{{form_end(form)}}

				</div>
				{% for comment in comments %}
					{% include "trick/_comment.html.twig" with {'comment': comment}%}
				{% endfor %}

				{% if comments is not empty()  %}
					<button type="button" class="btn btn-light mx-auto more-comments" style="display: block;" onclick="nextComments(); this.blur();">Charger plus de commentaires</button>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/js/paginationComments.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
{% endblock %}
